<% content_for :header do %>
  <h1><%= @user.email %> </h1>
  <h3>Tasks:</h3>
<% end %>

<% content_for :content do %>
  <% if !@tasks.any? %>
    <p><%= link_to "Create Task", new_task_path(@user) %></p>
  <% else %>
    <% @tasks.each do |task| %>
      <div class="card border-info mb-3">
        <div class="card-body">
          Name:<h5 class="card-title"><%= link_to task.name, project_path(task) %></h5>
          Description:<p class="card-text"><%= task.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>