<% content_for :header do %>
  <h1>Create a Project Task </h1>
<% end %>


<% content_for :content do %>
    <% if @project_task.errors.any? %>
  <ul>
      <% @project_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </ul>
<% end %>
    <%= form_for [ @project, @project_task] do |form| %>
        <%= render partial: "form", locals: { f: form } %>
    <% end %>
<% end %>
