
<% @users.each do |user| %>
<ul>
    <h2>
        <li>Username: <%= user.username%></li>
        <li>Email: <%= user.email%></li>
        <li><%=link_to "User Page", user_path(user)%></li>
    </h2>
</ul>
<% end %>
