<%if current_user.admin?%>
<%@users.each do |user|%>
<ul>
    <h2>
        <li><%= user.username%></li>
        <li>Email:<%= user.email%></li>
        <li><%=link_to "User Page", user_path(user)%></li>
    </h2>
</ul>
<%end%>