<% content_for :header do %>
  <h1>Create a Project </h1>
<% end %>

<% content_for :content do %>
    <% if @project.errors.any? %>
    <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>

  <%= form_for @project do |form| %>
    <%= render partial: "form", locals: {f: form} %>
  <% end %>
<% end %>
