<% content_for :header do %>
  <h1>Create a Project </h1>
<% end %>

<% content_for :content do %>
    <% if @project.errors.any? %>
    <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>
  <%= render partial: "form", locals: {project: @project} %>
<% end %>
